$primary-color: white;
$secondary-color: #8f7854;

$grey-color: #bdbebf;
$darkblue-color: #212529;
$brow-color: #d3c7b0;
$black-color: black;

$primary-background-color: rgb(143, 120, 84, 0.5);
$secondary-background-color: rgb(236, 236, 236);
$background-white-opacity: rgba(255, 255, 255, 0.8);
$background-black-opacity: rgba(0, 0, 0, 0.77);

$font-family: "Roboto", sans-serif;
