$primary-color: white;
$secondary-color: #8f7854;

$grey-color: #bdbebf;
$darkblue-color: #212529;
$brow-color: #d3c7b0;

$primary-background-color: rgb(143, 120, 84, 0.5);
$background-white-opacity: rgba(255, 255, 255, 0.8);

$font-family: "Roboto", sans-serif;
