.formationcv-container {
  h1,
  h2,
  h3 {
    font-size: 1.5rem;
    letter-spacing: 0.03em;
    color: $darkblue-color;
    font-family: $font-family;
  }
  .title-margin {
    margin-top: 15px;
  }
  p {
    font-size: 0.9rem;
    font-family: $font-family;
  }
  span {
    color: $secondary-color;
    font-weight: bold;
  }
}
// Media querry 850 >
@media only screen and (max-width: 850px) {
  .formationcv-container {
    margin: 0 10px;
    h1,
    h2,
    h3 {
      font-size: 1.2rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
}
