.container-page {
  .section-formation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    p {
      color: $darkblue-color;
    }
    h5 {
      text-align: center;
      text-decoration: underline;
      padding: 75px 0;
      font-size: 2.4rem;
      color: $primary-color;
      font-family: $font-family;
      text-decoration-color: $secondary-color;
      text-underline-offset: 5px;
    }
  }
  .container-formation {
    height: auto;
    width: 40%;
    border-radius: 10px;
    background-color: $background-white-opacity;
  }

  .formation-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0;

    &.align-left {
      flex-direction: row-reverse;
      text-align: end;
    }

    .img-formation {
      width: auto;
      height: 8vw;
      border: solid 2px black;
      border-radius: 50%;
    }
  }
  .text-formation {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 1vw;
    p {
      font-family: $font-family;
      font-size: 1rem;
    }
    .date-text {
      color: $secondary-color;
      font-weight: bold;
    }
    .title-text {
      color: $secondary-color;
      font-weight: bold;
    }
    .description-text {
      font-weight: bold;
    }
  }
  // Media querry 1200px - 1400px
  @media only screen and (max-width: 1400px) {
    .container-formation {
      width: 70%;
      .formation-flex {
        flex-direction: column;
        text-align: center;
        &.align-left {
          flex-direction: column;
          text-align: center;
        }
      }
      .text-formation {
        width: 80%;
      }
      .img-formation {
        height: 10vw;
      }
    }
    .section-formation {
      p {
        font-size: 1rem;
      }
    }
    h5 {
      padding: 0;

      margin-bottom: 20px;
    }
  }
  // Media querry 850px - 1200px
  @media only screen and (max-width: 1200px) {
    .container-formation {
      .formation-flex {
        padding: 5px 0;
        .img-formation {
          height: 12vw;
        }
      }
    }
  }
  // Media querry 850 >
  @media only screen and (max-width: 850px) {
    .section-formation {
      padding-top: 70px;
      .formation-flex {
        .img-formation {
          height: 18vw;
        }
      }
      p {
        font-size: 0.8rem;
      }
      h5 {
        margin-top: 0;
        padding: 0;
      }
    }
  }
}
