.container-page {
  // Scroll effect
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;

  section {
    scroll-snap-align: start;
  }

  // Scroll bar remove
  &::-webkit-scrollbar {
    display: none; /* Pour Chrome, Safari et Opera */
  }

  & {
    -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
    scrollbar-width: none; /* Pour Firefox */
  }

  // nav style
  nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $grey-color;
    padding: 50px 15vw;
    width: 94%;
  }
  // Title
  h1 {
    font-size: 1.8rem;
    font-family: $font-family;
    white-space: nowrap;
    text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
      -1px -1px 0 black;
  }
  h1:hover {
    color: $primary-color;
    cursor: pointer;
  }
  h2 {
    text-align: center;
    font-size: 3rem;
    font-family: $font-family;
    color: $primary-color;
  }
  // Liste nav
  ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
    color: $grey-color;
    font-family: $font-family;
    white-space: nowrap;
    text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
      -1px -1px 0 black;
  }
  li:hover {
    color: $primary-color;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  // Section
  .section-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

    h2 {
      padding: 90px 0;
      text-align: center;
      margin-top: 150px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 50%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 15%;
        border-bottom: 2px solid #8f7854;
      }
    }
    p {
      text-align: center;
      padding: 90px 25vw;
      font-size: 1.5rem;
      color: $grey-color;
    }
  }

  .section-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 100vh;
    background-color: $primary-background-color;
    padding-top: 150px;
    h2 {
      padding-bottom: 90px;
      text-align: center;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 50%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 15%;
        border-bottom: 2px solid $brow-color;
      }
    }
    p {
      font-size: 1.5rem;
      text-align: center;
      color: $primary-color;
      padding: 50px 25vw;
    }
  }

  // Logo style
  .svg-scroll-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  // Menu Burger style

  .sidenav {
    display: flex;
    position: static;
    width: auto;
    background-color: transparent;
    border-left: none;
    padding-top: 0;
  }
  .sidenav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  .burger-icon {
    display: none;
  }
  .sidenav .close {
    display: none;
  }

  // button style
  .button-container {
    display: flex;
    justify-content: center;
    margin: 25px 0;

    button {
      padding: 15px;
      background-color: $brow-color;
      color: $darkblue-color;
      cursor: pointer;
      border-radius: 10px;
      border: solid 3px $darkblue-color;
    }
    button:hover {
      background-color: $secondary-color;
      color: $primary-color;
    }
  }

  // 950px - 1200px (Tablette)
  @media only screen and (max-width: 1200px) {
    nav {
      display: flex;
      justify-content: center;
      padding: 30px 5vw;
      width: 100%;
    }
    // Section responsive
    .section-home {
      h2 {
        margin-top: 50px;
        padding-top: 90px;
        padding-bottom: 30px;
        z-index: -1;
      }
      p {
        padding: 30px 4vw;
      }
    }

    .section-presentation {
      padding-top: 50px;
      p {
        padding: 20px 5vw;
        font-size: 1.3rem;
      }
    }

    .svg-scroll-container {
      margin-top: 40px;
    }

    // MenuBurger style
    .sidenav {
      display: flex;
      justify-content: center;
      z-index: 10;
      height: 100%;
      width: 49%;
      position: fixed;
      top: 0;
      right: -49%;
      background-color: $secondary-color;
      background-size: 100vh auto;
      padding-top: 10px;
      border-left: solid 2px black;
      transition: right 0.3s ease;
    }

    .sidenav.active {
      right: 0;
    }

    .sidenav a {
      font-family: "roboto";
      font-weight: bold;
      text-decoration: none;
      font-size: 1.3rem;
      color: black;
      display: block;
      text-decoration: underline;
      text-decoration-color: #426ab2;
    }
    .sidenav ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 50px;
      list-style-type: none;
      margin-top: 60px;
    }
    .sidenav .close {
      position: absolute;
      top: -20px;
      right: 10px;
      margin-top: 20px;
      font-size: 25px;
    }
    .menu-svg {
      position: fixed;
      right: 0;
      width: 40px;
      height: 40px;
      margin-right: 5px;
      cursor: pointer;
    }
    .cursor-menu-close {
      cursor: pointer;
    }
    .burger-icon {
      display: block;
    }
    .sidenav .close {
      display: block;
    }
    .cursor-menu-close img {
      width: 70px;
      height: auto;
      padding: 0;
    }
  }
  // Media querry 850 >
  @media only screen and (max-width: 850px) {
    .section-home {
      p {
        font-size: 1.2rem;
      }
      h2 {
        margin-top: 0;
      }
    }
    .section-presentation {
      h2 {
        padding-bottom: 20px;
      }
      p {
        font-size: 1.1rem;
      }
    }
  }
}
