.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  h4 {
    font-size: 2rem;
    padding-left: 1vw;
  }
  .popup-categorie {
    color: $black-color;
    font-size: 1.3rem;
    padding-left: 1vw;
  }
  .description-text,
  .techno-text,
  .design-text {
    color: $black-color;
    padding-top: 10px;
    font-weight: bold;
    padding-left: 1vw;
    font-size: 1.2rem;
  }
  .description-data,
  .techno-data,
  .design-data {
    color: $black-color;
    padding: 0 1vw;
  }
}
.popup-content {
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  border-radius: 10px;
  border: solid 2px black;
  width: 20vw;
  height: auto;
  animation: popupAppear 0.5s ease;
}
// popup animation effet d'apparition
@keyframes popupAppear {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.img-popup-container {
  display: flex;
  justify-content: center;
}
.popup-image {
  height: auto;
  width: 90%;
  border: 1px solid black;
}

// button style
.button-popup-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  button {
    cursor: pointer;
    border: 2px solid black;
    padding: 5px;
    color: $primary-color;
    background-color: $secondary-color;
    border-radius: 8px;
    font-size: 1.2rem;
  }
  button:hover {
    color: $darkblue-color;
    background-color: $brow-color;
  }
}
.btn-close-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.close-btn {
  cursor: pointer;
  border: 2px solid black;
  padding: 5px;
  background-color: #b64f4f;
  color: $primary-color;
  border-radius: 8px;
  font-size: 1.2rem;
}
.close-btn:hover {
  background-color: red;
}
// Media querry 1200px - 1400px
@media only screen and (max-width: 1400px) {
  .popup-overlay {
    h4 {
      font-size: 2rem;
      padding-left: 1.7vw;
    }
    .popup-categorie {
      font-size: 1.3rem;
      padding-left: 1.7vw;
    }
    .popup-content {
      width: 35vw;
      .description-text,
      .techno-text,
      .design-text {
        padding-left: 1.7vw;
        font-size: 1.2rem;
      }
      .description-data,
      .techno-data,
      .design-data {
        padding: 0 1.7vw;
      }
    }
  }
}

// Media querry 850px - 1200px
@media only screen and (max-width: 1200px) {
  .popup-overlay {
    h4 {
      font-size: 2rem;
      padding-left: 2vw;
    }
    .popup-categorie {
      font-size: 1.3rem;
      padding-left: 2vw;
    }
    .popup-content {
      width: 40vw;
      .description-text,
      .techno-text,
      .design-text {
        padding-left: 2vw;
        font-size: 1.2rem;
      }
      .description-data,
      .techno-data,
      .design-data {
        padding: 0 2vw;
      }
    }
  }
}
// Media querry < 850
@media only screen and (max-width: 850px) {
  .popup-overlay {
    h4 {
      font-size: 2rem;
      padding-left: 2.5vw;
    }
    .popup-categorie {
      font-size: 1.3rem;
      padding-left: 2.5vw;
    }
    .popup-content {
      width: 60vw;
      .description-text,
      .techno-text,
      .design-text {
        padding-left: 2.5vw;
        font-size: 1.2rem;
      }
      .description-data,
      .techno-data,
      .design-data {
        padding: 0 2.5vw;
      }
    }
  }
}
