.skillcv-container {
  h1 {
    font-size: 1.5rem;
    color: $darkblue-color;
    letter-spacing: 0.03em;
    font-family: $font-family;
  }
  .title-margin {
    margin-top: 15px;
  }
  p {
    font-size: 1rem;
    font-family: $font-family;
  }
  span {
    text-decoration: underline;
  }
  .color-point {
    text-decoration: none;
    font-weight: bold;
    color: $secondary-color;
  }
}
// Media querry 850 >
@media only screen and (max-width: 850px) {
  .skillcv-container {
    margin: 0 10px;
    h1 {
      font-size: 1.2rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
}
