@import "abstracts/variables";
@import "abstracts/mixins";
@import "pages/page";
@import "pages/projet.scss";
@import "pages/formation.scss";
@import "pages/popupprojet.scss";
@import "pages/cv.scss";
@import "pages/contact.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

// Style scrollbar

::-webkit-scrollbar {
  width: 12px; /* Largeur de la scrollbar */
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #1a1a1a; /* Couleur de l'arrière-plan de la scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: $secondary-color;
  border-radius: 10px;
  border: 3px solid #1a1a1a;
}
