@import "abstracts/variables";
@import "abstracts/mixins";
@import "pages/page";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
